@charset "UTF-8";
/*

MVP acceptance criteria
 X dynamic loading of dropdown menu content
 X search results pulled from database
 O full UX flow implemented (dropdowns, take action, reset, etc.)
 X search results filtered by dropdowns
 O basic breakpoint implementation (mobile —> desktop clean)

full acceptance criteria
 - UI implemented exactly to spec
 - no query times greater than a few seconds
 - all breakpoints working on all devices

todo:
    - responsiveness
        - format on mobile
        - add tablet support
        - add desktop support
 */
html, body {
  margin: 0;
  padding: 0;
  background: #eee;
}

h2 {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 20px;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
}

#search-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 600px) {
  #search-form {
    padding: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#search-form > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#search-form > h2 {
  white-space: nowrap;
  padding: 0 1em 0 1em;
}

.search-input {
  padding: 10px;
  margin: 10px;
}

select.search-input {
  width: 70%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 16pt;
  border: none;
  color: #C36C27;
  background: #F3F3F3;
}

button.search-input {
  width: 60%;
  max-width: 11em;
  font-size: 14pt;
  background: black;
  color: white;
}

#chamber-input, #district-input, button.search-input {
  display: none;
}

#search-prompt {
  text-align: center;
}

#search-results {
  margin: 0 1em 0 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden;
}

#search-results > h2 {
  margin: 0;
  padding: 0;
  color: #C36C27;
}

#results {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.3em;
}

#results .results-cell {
  padding: 0.5em 0;
  white-space: nowrap;
  width: 33.3%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10pt;
  font-weight: bold;
}

.results-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.results-row button {
  padding: 1em;
  width: 100%;
  border: none;
  background-color: #C36C27;
  color: white;
}