html, body {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 20px;
}

button:enabled {
  cursor: pointer;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-color: #FBFBFB;
  background-position: center;
}

#search-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #FBFBFB;
  color: #070707;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 600px) {
  #search-form {
    padding: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#search-form > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#search-form > h2 {
  margin-bottom: 0;
  text-align: center;
  color: #070707;
}
@media (min-width: 600px) {
  #search-form > h2 {
    padding: 0 0.2em 0 0;
    margin: 0.5rem 0;
    font-size: 0.8rem;
  }
}
@media (min-width: 900px) {
  #search-form > h2 {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  #search-form > h2 {
    padding: 0 1em 0 0;
    margin: 1rem 0;
    font-size: 1.6rem;
  }
}

.search-input {
  padding: 10px;
  margin: 10px;
  max-width: 15.6rem;
  height: 3.2rem;
}
@media (min-width: 900px) {
  .search-input {
    max-width: unset;
  }
}

select.search-input {
  width: 70%;
  padding: 0.5em;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border: 1px solid #BB6C2F;
  font-size: 14pt;
}
@media (min-width: 600px) and (max-width: 899px) {
  select.search-input {
    max-height: 2rem;
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  select.search-input {
    max-height: 2rem;
    padding: 0.2rem;
    font-size: 0.9rem;
  }
}

select.search-input:disabled {
  border: 1px solid #5D5D5D;
}

#reset-button {
  display: none;
  width: 60%;
  margin: 0;
  max-width: 12.5em;
  font-size: 12pt;
  background: #070707;
  color: #FBFBFB;
  border: none;
}
@media (min-width: 600px) and (max-width: 899px) {
  #reset-button {
    width: unset;
    height: 2.5rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  #reset-button {
    width: unset;
    height: 2.5rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  #reset-button {
    max-width: 7.5rem;
  }
}

#reset-button:disabled {
  background: #5D5D5D;
  color: #C0C0BF;
}

#search-prompt {
  margin: 3rem 0 0 0;
  text-align: center;
  font-size: 1.2rem;
}

#search-results {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow-y: hidden;
  padding: 1.8rem 2.1rem 0 2.1rem;
}
@media (min-width: 600px) {
  #search-results {
    padding: 2em 2em 0 2em;
  }
}

#search-results > h2 {
  margin: 0 0 0.3em 0;
  padding: 0;
  color: #BB6C2F;
}
@media (min-width: 1200px) {
  #search-results > h2 {
    font-size: 18pt;
  }
}

#results-table {
  overflow: scroll;
}

#results-headers {
  display: table-row;
  color: #BB6C2F;
}

#results-body {
  margin: 0;
  width: 97%;
  display: table;
  table-layout: fixed;
  font-size: 1.3em;
}
@media (min-width: 1200px) {
  #results-body {
    width: 99%;
  }
}

.results-row {
  width: 100%;
  display: table-row;
}

#results-headers div {
  padding: 0.7rem 1rem 0.7rem 0;
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.5rem !important;
  position: sticky;
  top: 0;
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
  font-size: 8pt;
  background-color: #FBFBFB;
  vertical-align: bottom;
}
@media (min-width: 600px) and (max-width: 899px) {
  #results-headers div {
    padding: 0.7rem 1rem 1.2rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  #results-headers div {
    padding: 0.7rem 1rem 1.4rem 0;
  }
}
@media (min-width: 1200px) {
  #results-headers div {
    font-size: 0.8rem;
  }
}

.results-cell {
  padding: 0.7rem 1rem 0.7rem 0;
  display: table-cell;
  font-size: 12pt;
}
@media (min-width: 600px) and (max-width: 899px) {
  .results-cell {
    padding: 0.7rem 1rem 1.2rem 0;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .results-cell {
    padding: 0.7rem 1rem 1.4rem 0;
  }
}
@media (min-width: 900px) {
  .results-cell {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .results-cell {
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
  }
}

.name-cell {
  width: 45%;
}
@media (min-width: 600px) {
  .name-cell {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .name-cell {
    width: 30%;
  }
}

.name-cell > p:nth-child(1) {
  font-weight: bold;
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .name-cell > p:nth-child(1) {
    font-size: 1.6rem;
  }
}

.score-cell {
  width: 30%;
}
@media (min-width: 600px) {
  .score-cell {
    width: 12%;
  }
}
@media (min-width: 900px) {
  .score-cell {
    width: 17%;
  }
}
@media (min-width: 1200px) {
  .score-cell {
    width: unset;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .election-cell {
    width: 19%;
  }
}

.results-cell p {
  margin: 0 0 0.5em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results-cell p:nth-child(2) {
  color: #5D5D5D;
  display: none;
}

#results-body button.results-cell {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  background-color: #BB6C2F;
  color: #FBFBFB;
  font-size: 1.1rem;
}
@media (min-width: 600px) and (max-width: 899px) {
  #results-body button.results-cell {
    height: 2.5rem;
    padding: 0;
    font-size: 0.8rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  #results-body button.results-cell {
    font-size: 0.9rem;
  }
}