// all breakpoint mixin syntax authored by Brian Gilbertson - is.gd/quJnhY
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Use brand guideline colors:
// https://docs.google.com/document/d/1yKD6DwIp8cBFuO9tA2PTdzyP5OLe_ZG1m7P3ihzFrvg/edit?usp=sharing
$cc-af-logo-rusty-orange: #BB6C2F;
$cc-af-light-gray: #D8D8D8;
$cc-af-mid-gray: #C0C0BF;
$cc-af-dark-gray: #5D5D5D;
$cc-af-white: #FBFBFB;
$cc-af-black: #070707;

$disabled: $cc-af-dark-gray;
$disabled-text: $cc-af-mid-gray;


html, body {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 20px;
}

button:enabled {
    cursor: pointer;
}

.loading {
    position: relative;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-color: $cc-af-white;
    background-position: center;
}

#search-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: $cc-af-white;
    color: $cc-af-black;
    font-family: 'Lato', sans-serif;

    display: flex;
    flex-direction: column;
}

#search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    @include for-tablet-portrait-up {
        padding: 2em;
        flex-direction: row;
    }
}

#search-form > * {
    flex-grow: 1;
}

#search-form > h2 {
    white-space: nowrap;
    margin-bottom: 0;

    text-align: center;
    color: $cc-af-black;

    @include for-tablet-portrait-up {
        padding: 0 .2em 0 0;
        margin: .5rem 0;
        font-size: .8rem;
    }

    @include for-tablet-landscape-up {
        font-size: 1rem;
    }

    @include for-desktop-up {
        padding: 0 1em 0 0;
        margin: 1rem 0;
        font-size: 1.6rem;
    }
}

.search-input {
    padding: 10px;
    margin: 10px;

    width: 70%;
    height: 3.2rem;
    max-width: 15.6rem;

    @include for-phone-only {
        max-width: unset;
        width: 90%;
    }

    @include for-tablet-landscape-up {
        max-width: unset;
    }

    @include for-desktop-up {
        height: 40px;
    }
}

select.search-input {
    padding: .5em;
    flex-shrink: 1;

    border: 1px solid $cc-af-logo-rusty-orange;
    font-size: 14pt;

    @include for-phone-only {
        font-size: 16px;
    }

    @include for-tablet-portrait-only {
        max-height: 2rem;
        padding: .2rem;
        font-size: .8rem;
    }

    @include for-tablet-landscape-only {
        max-height: 2rem;
        padding: .2rem;
        font-size: .9rem;
    }

    @include for-desktop-up {
        font-size: 16px;
    }
}

select.search-input:disabled {
    border: 1px solid $disabled;
}

#reset-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    @include for-tablet-portrait-up {
        width: unset;
        height: 2.5rem;
        padding: 0 0.5rem;
    }

    @include for-desktop-up {
        max-width: 7.5rem;
        padding: 0 1rem;
    }
}

#reset-container > button {
    margin: 0;
    padding: 0;

    color: $cc-af-black;
    background: none;
    border: none;

    font-size: 1em;
    text-decoration: underline;
    text-align: right;

    @include for-tablet-portrait-up {
        font-size: .8em;
    }

    @include for-desktop-up {
        font-size: 1em;
    }
}

#search-prompt {
    margin: 3rem 0 0 0;
    text-align: center;
    font-size: 1.2rem;
}

#search-results {
    flex-grow: 1;
    display: none;
    flex-flow: column nowrap;
    overflow-y: hidden;

    border: 0.5px $cc-af-logo-rusty-orange solid;
    border-bottom: none;

    padding: 1rem 1rem 0 1rem;
    margin: 1rem 1rem 0 1rem;
}

#search-results > h2 {
    margin: 0 0 .3em 0;
    padding: 0;
    color: $cc-af-logo-rusty-orange;

    @include for-desktop-up {
        font-size: 18pt;
    }
}

#results-table {
    overflow: scroll;
}

#results-headers {
    display: table-row;
    color: $cc-af-logo-rusty-orange;
}

#results-body {
    margin: 0;
    width: 97%;

    display: table;
    table-layout: fixed;

    font-size: 1.3em;

    @include for-desktop-up {
        width: 99%;
    }
}

.results-row {
    width: 100%;
    display: table-row;
}

@mixin results-cell-layout {
    padding: 0.7rem 1rem 0.7rem 0;
    display: table-cell;

    @include for-tablet-portrait-only {
        padding: 0.7rem 1rem 1.2rem 0;
    }

    @include for-tablet-landscape-only {
        padding: 0.7rem 1rem 1.4rem 0;
    }
}

@mixin text-ellipses-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#results-headers div {
    @include results-cell-layout;
    @include text-ellipses-overflow;
    padding-bottom: 0.5rem !important;
    position: sticky;
    top: 0;
    transform: translate(0, -1px);

    font-size: 8pt;
    background-color: $cc-af-white;
    vertical-align: bottom;

    @include for-desktop-up {
        font-size: .8rem;
    }
}

.results-cell {
    @include results-cell-layout;
    font-size: 16px;

    @include for-tablet-landscape-up {
        font-size: 1.2rem;
    }

    @include for-desktop-up {
        font-size: 1.4rem;
        margin-bottom: 1.1rem;
    }
}

.name-cell {
    width: 45%;

    @include for-tablet-portrait-up {
        width: 25%;
    }

    @include for-desktop-up {
        width: 30%;
    }
}

.name-cell > p:nth-child(1) {
    font-weight: bold;

    @include for-desktop-only {
        font-size: 1.4rem;
    }
}

.score-cell {
    width: 30%;

    @include for-tablet-portrait-up {
        width: 12%;
    }

    @include for-tablet-landscape-up {
        width: 17%;
    }

    @include for-desktop-up {
        width: unset;
    }
}

.party-cell {
    @include for-tablet-landscape-only {
        width: 19%;
    }
}

.results-cell p {
    margin: 0 0 .5em 0;
    @include text-ellipses-overflow;
}

.results-cell p:nth-child(2) {
    color: $cc-af-dark-gray;
    display: none;
}

.cta-button {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    background-color: $cc-af-logo-rusty-orange;
    color: $cc-af-white;

    font-size: 1.1rem;

    @include for-tablet-portrait-up {
        padding: 0;
        height: 40px;
    }

    @include for-tablet-portrait-only {
        height: 2.5rem;
        font-size: 0.7rem;
    }

    @include for-tablet-landscape-only {
        font-size: 0.9rem;
    }

    @include for-desktop-up {
        font-size: 1rem;
    }
}
